.input-form {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("../images/BG.png");
    background-size: cover;
    background-color: #2148C1;

    .cart-image {
        margin-bottom: 71px;
    }

    .input-class {
        border: 1px solid #fff;
        border-radius: 4px;
        width: 245px; // because of border + padding
        height: 45px;
        background: transparent;
        margin-bottom: 20px;
        color: #ffffff;
        font-family: "Montserrat-Light", Helvetica, serif;
        font-size: 14px;
        font-weight: 300;
        padding-left: 51px;

        &::placeholder {
            color: #ffffff;
            font-family: "Montserrat-Light", Helvetica, serif;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            left: 51px;
        }
    }

    .input-container {
        position: relative;

        .icon {
            position: absolute;
            top: 13px;
            left: 12px;
            right: 19px;
        }
    }

    .login-button {
        width: 300px;
        height: 45px;
        margin-top: 23px;
        background-color: #ffffff;
        border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: 0 4px 4px #0000004c;
        cursor: pointer;

        color: #2148c0;
        font-family: "Montserrat-SemiBold", Helvetica, serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .forgot-password {
        color: #ffffff;
        font-family: "Montserrat-Medium", Helvetica, serif;
        font-size: 16px;
        font-weight: 500;
        margin-left: 175px;
        margin-top: 11px;
        cursor: pointer;
    }
}